In [2]:
import numpy as np 
import pandas as pd

In [3]:
data = {
    "First Score":[100,90,np.nan, 95],
    "Second Score":[30,45,56,np.nan],
    "Third Score":[np.nan, 40,80,98]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
print(df)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [6]:
# Find the missing values in dataframe

In [7]:
missing_values = df.isnull()

In [8]:
missing_values

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False